html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Rubik";

}

body {
    width: 100%;
    height: 100%;
    background-color: rgba(245, 249, 255, 1);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    margin: 0 0 1.6rem;
}

main {
    width: 100%;
    max-width: 40rem;
    background: #fff;
    border-radius: 0.8rem;
    border: 0.1rem solid rgb(223, 228, 237);
    padding: 3.2rem 2.4rem;
}

#taskInput{
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(223, 228, 237);
}


#create-todo-section {
    width: 100%;

}


#create-todo-form {
    font-size: 1.6 rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.input-description {
    height: 3.2rem;
    width: 100%;
    font-size: 1.3rem;
    border-radius: 0.4rem ;
    margin-right: 0.8rem ;
    outline: 0;
    border: 0.1rem solid rgb(223, 228, 237);
    padding-left: 0.8rem;
    
    
}

    input:focus {
        border-color: rgb(161, 161, 211);

}


.add-task-btn {
    box-sizing: border-box;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1.4rem;
    border-radius: 0.4rem;
    border: none;
    color: #fff;
    background: rgba(45, 112, 253, 1);
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center; 

}

button:hover {
    opacity: 0.8; 
}

